# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
ENV/

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache
*.pickle
*.pkl

# Env vars
*.env

# Cache
.cache/
