- name: Build Docker image
  run: |
    cd web
    docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/hotel-web .

- name: Push Docker image
  run: |
    docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/hotel-web

- name: Deploy to Cloud Run
  run: |
    gcloud run deploy hotel-web \
      --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/hotel-web \
      --region asia-east1 \
      --platform managed \
      --allow-unauthenticated \
      --port 8080
